<h1 class="home-title" th:text="" xmlns:th="http://www.w3.org/1999/xhtml">Home</h1>
<div class = "blue-div" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul>
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/navbar.css" th:href="@{/css/navbar.css}"/>
        <li><a class="active" th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li><a th:href="@{/order}">Orders</a></li>
        <li style="float:right"><a th:text="${ session.user.name + ' ' + session.user.surname}"></a></li>
        <li style="float:right"><a th:href="@{/logout}">Logout</a></li>
    </ul>

</div>
