table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #232f3e;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table:nth-child(even) {
    color: #217482;
}
