<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="css/orders.css" th:href="@{/css/orders.css}"/>
    <link rel="stylesheet" type="text/css" href="css/global.css" th:href="@{/css/global.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h1>Orders</h1>
<div class="blue-div">
    <div class="article-title" th:if="!${foundOrders.isEmpty()}">Here you can find your orders</div>
    <div class="article-title" th:if="${foundOrders.isEmpty()}">No orders yet. Go shopping!</div>
<table class = "blue-div" th:each="order : ${foundOrders}">
    <thead>
    <tr>
        <th>Seller Name</th>
        <th>Price Articles</th>
        <th>Price Shipment</th>
        <th>Total Price</th>
        <th>Order Date</th>
        <th>Shipment Date</th>
        <th>Shipment Address</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${order.sellerName}"></td>
        <td><span th:text="${order.priceArticles}"></span><span>&#8364;</span></td>
        <td><span th:text="${order.priceShipment}"></span><span>&#8364;</span></td>
        <td><span th:text="${order.priceTotal}"></span><span>&#8364;</span></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.shipmentDate}"></td>
        <td th:text="${order.shipmentAddr}"></td>
        <!-- <td><a th:href="@{/GetMissionDetails(missionid=${m.id})}">Details</a></td>-->
        </td>
    </tr>
    <th>Article Name</th>
    <th>Article Qty</th>
    <th>Article Price</th>
    <tr th:each="article : ${order.getArticleBeans()}">
        <td th:text="${article.getName()}"></td>
        <td th:text="${article.getQuantity()}"></td>
        <td><span th:text="${article.getPrice()}"></span><span>&#8364;</span></td>
    </tr>
    </tbody>
    <br><br>
</table>
</div>
<!-- OrderBean{id='1', sellerId='1', priceArticles='20.0', priceShipment='5.0', shipmentDate='2021-06-25 14:53:03', userId='1', sellerName='seller1', sellerRating='3.0', name='name1', surname='surname1', email='email1', shipmentAddr='via lol 1', orderDate='2021-06-25 14:53:03', articleBeans=[ArticleBean{id='1', name='art1', description='descr1', category='cat1', photo='photo1', quantity='2', price='3.1'}, ArticleBean{id='2', name='art2', description='descr2', category='cat2', photo='photo2', quantity='3', price='5.3'}]} -->
</body>
</html>
